.form-container {
}
.form-container > input {
    border: none;
    border-bottom: 2px solid #2667ff;
    outline: none;
    display: block;
    margin: 0.8rem 0;
    width: 18rem;
    height: 2rem;
    font-size: 1.1rem;
    font-weight: 550;
    padding: 0.2rem 0.4rem;
}
#text-area {
    border: none;
    border-bottom: 2px solid #2667ff;
    outline: none;
    display: block;
    margin: 0.8rem 0;
    width: 18rem;
    height: 4rem;
    font-size: 1.6rem;
    font-weight: 550;
    padding: 0.2rem 0.4rem;
    resize: none;
}
.form-container > span {
    color: red;
    font-size: 0.7rem;
    position: relative;
    top: -18px;
}
#submit-btn {
    cursor: pointer;
    height: 2.5rem;
    width: 18.8rem;
    color: white;
    background: #2667ff;
    border: 1px solid #3930d8;
}

@media screen and (max-width: 350px) {
    .form-container > input {
        width: 16rem;
        height: 2rem;
        font-size: 1rem;
    }
    #text-area {
        width: 16rem;
        height: 4rem;
        font-size: 1.4rem;
    }
    #submit-btn {
        cursor: pointer;
        height: 2.5rem;
        width: 16.8rem;
        color: white;
        background: #2667ff;
        border: 1px solid #3930d8;
    }
}
